<!-- _navbar.html -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Sp-RMX</a>
    <a class="nav-link" href="/signout">Sign Out</a>
    <p style="color: #D3D3D3;">Sp-Rmx is a lightweight project designed to leverage Spotify data via the Spotipy library to provide insights into the music you are passionate about.<br><br> Whether its running back through old favorites or using predictive algorithms to discover something new, I'm sure there is something here for everyone!</p>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/top_artists_tracks">Artists & Tracks</a>
            <a class="nav-link" href="/genres">Genres</a>
            <a class="nav-link" href="/">Playlists</a>
            <a class="nav-link" href="/">Contact</a>
        </li>
    </ul>
</nav>