<!DOCTYPE html>
<html>
    <head>
        <title>[Sp-RMX] Genres</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        {% macro render_list(title, list) %}
            <div class="col-md-4">
                <h2 class="list-title" style="text-align: center;">{{ title }}</h2>
                <div class="item-list">
                    <ol>
                        {% for item in list %}
                        <li><a target="_blank" href="{{ item.external_urls.spotify }}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% endmacro %}
    </head>
    <body>
        {% include '_navbar.html' %}

        <div class="main-content container">
            <div class="container">
                <h1 style="text-align: center;">A R T I S T S</h1>
                <div class="row">
                    {{ render_list('All Time', genres_l) }}
                    {{ render_list('Last 6 Months', genres_m) }}
                    {{ render_list('Last 4 Weeks', genres_s) }}
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>