<!DOCTYPE html>
<html>
    <head>
        <title>Sp-RMX</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
    <body>
        {% include '_navbar.html' %}

        <main role="main" class="container">
            <div class="starter-template">
                <h1>Welcome to Sp-RMX!</h1>
                <p class="lead">This web application uses the Spotify API to display your top artists and tracks over various time periods.<br> You can use the navigation bar at the top of the page to explore your musical preferences.</p>
            </div>
        </main>

        <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
